.nav {
  @apply transition z-10 fixed flex items-center w-[98.8%] justify-between bg-light dark:bg-dark px-4 py-4 md:py-6 md:px-6 lg:px-12;
}

.menu {
  @apply transition text-dark dark:text-light text-3xl md:hidden;
}

.logo {
  @apply w-12 h-12;
}

.navLink {
  background-size: 0% 0.3em;
  background-position-y: 110%;
  background-position-x: 0%;
  @apply text-xl font-semibold h-[1.9rem] ease-in-out transition-[background-size] duration-500 no-underline bg-no-repeat bg-gradient-to-r from-primary to-primary dark:from-primary_dark dark:to-primary_dark;
}

.navLink:hover,
.navLink:active {
  background-size: 100% 0.3em;
}

.navList {
  @apply transition fixed left-0 right-0 min-h-screen bg-light dark:bg-dark space-y-8 p-8 transform md:translate-x-0 mt-4 md:mt-0 md:relative md:flex md:min-h-0 md:space-y-0 md:space-x-10 md:p-0;
}

.navItem {
  @apply flex items-center;
}

.modeToggle {
  @apply flex items-center justify-center md:static absolute bottom-28 right-0 left-0;
}
