$primary: #007dff;
$primary-hover: #007dff;
$light: #f7f7f7;
$text: #262626;
$text-hover: hsl(0, 0%, 30%);
$font: Poppins; // Default element declarations begin here.
$medium: 500;
$semi-bold: 600;
a {
    font-weight: 500;
    font-family: $font;
    position: relative;
    text-decoration: none;
    color: $text;
    &:hover {
        color: $text;
    }
}

html,
body {
    background-color: $light;
    font-size: 18px;
    font-family: $font;
    font-weight: $medium;
    scroll-behavior: smooth;
}

h1 {
    font-size: 11.5vmin;
    font-weight: $semi-bold;
    span {
        font-size: 11.5vmin;
        // filter: drop-shadow(0 1px 4px rgba(0, 128, 255, 0.2));
    }
}

h2 {
    font-weight: $semi-bold;
    margin-bottom: 1.5rem;
    font-size: calc(1.325rem + 0.9vw);
    span {
        font-size: calc(1.325rem + 0.9vw);
        // filter: drop-shadow(0 1px 4px rgba(0, 128, 255, 0.2));
    }
}

p {
    font-family: $font;
    font-weight: $medium;
    margin-bottom: 1.3rem;
}

// Class declarations begin here.
.anchor {
    display: block;
    position: relative;
    visibility: hidden;
}

.button--primary {
    background-color: $primary;
    color: $light;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.15));
    transition: background-color 0.2s ease-in-out;
}

.button--primary:hover {
    background-color: $primary-hover;
}

.navbar-light,
.offcanvas-body,
.offcanvas-header {
    background-color: $light;
    color: $text;
    .nav-link {
        font-family: $font;
        font-weight: $semi-bold;
        color: $text;
        &:hover {
            color: $text;
        }
        &::before {
            color: $text;
            content: "";
            position: absolute;
            display: block;
            width: 100%;
            height: 3px;
            bottom: 0;
            left: 0;
            background-color: $primary;
            transform: scaleX(0);
            transform-origin: top right;
            transition: transform 0.4s ease;
        }
        &:hover::before {
            color: $text;
            transform: scaleX(1);
        }
    }
    .navbar-toggler {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
        border: 0;
        padding: 0;
        box-shadow: none;
        transition: none;
        filter: none;
        &:focus {
            border: none;
            border-radius: 0;
            box-shadow: none;
            filter: none;
        }
        &:hover {
            background-color: transparent;
        }
    }
}

.section {
    margin-top: 15rem;
}

.section__greeting {
    margin-top: 24rem;
}

.sticky-top {
    background-color: $light;
}

.text--primary {
    color: $primary;
}

.text--underlined {
    color: $text;
    text-decoration: none;
    font-family: $font;
    font-weight: $medium;
    &:hover {
        color: $text-hover;
    }
    &::before {
        color: $text;
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 3px;
        bottom: 0;
        left: 0;
        background-color: $primary;
        transform: scaleX(1);
        transform-origin: top right;
        transition: transform 0.4s ease;
    }
}

.typed-heading {
    position: absolute;
    top: 20%;
}

// iPad
@media (min-width: 768px) {
    .typed-heading {
        z-index: 9;
        position: absolute;
        top: 46%;
    }
}

// Phone
@media (min-width: 460px) {
    .section {
        margin-bottom: 16rem;
        margin-top: 16rem;
    }
    // Toggles the margin above the typed heading when in mobile.
    .section__greeting {
        margin-top: 48rem;
        margin-bottom: 8rem;
    }
}