$primary: #007dff;
$primary-hover: #007dff;
$light: #f7f7f7;
$text: #262626;

@import "@fontsource/poppins";

* {
    font-family: Poppins SemiBold;
    font-size: 24px;
    background-color: $light;
}

a {
    position: relative;
    text-decoration: none;
    color: $text;
}

a:hover {
    color: $text;
}

h1 {
    font-size: clamp(1rem, 10vw, 5rem);
    span {
        font-size: clamp(1rem, 10vw, 5rem);
        // filter: drop-shadow(0 1px 4px rgba(0, 128, 255, 0.2));
    }
}

p {
    font-family: Poppins "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.themed-button {
    background-color: $primary;
    color: $light;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.15));
    transition: background-color 0.2s ease-in-out;
}

.themed-button:hover {
    background-color: $primary-hover;
}

.greeting {
    bottom: 5%;
}

.themed-nav,
.navbar-light,
.offcanvas-body {
    background-color: $light;
    color: $text;
    .active:after {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 3px;
        bottom: 0;
        left: 0;
        background-color: $primary;
        transform: scaleX(1);
    }
    .nav-link {
        color: $text;
        &:hover {
            color: $text;
        }
        &::before {
            color: $text;
            content: "";
            position: absolute;
            display: block;
            width: 100%;
            height: 3px;
            bottom: 0;
            left: 0;
            background-color: $primary;
            transform: scaleX(0);
            transform-origin: top right;
            transition: transform 0.4s ease;
        }
        &:hover::before {
            color: $text;
            transform: scaleX(1);
        }
    }
}

.navbar-toggler {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    border: 0;
    padding: 0;
    box-shadow: none;
    transition: none;
    filter: none;
    &:focus {
        border: none;
        border-radius: 0;
        box-shadow: none;
        filter: none;
    }
    &:hover {
        background-color: transparent;
    }
}

.shadow {
    filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.15));
}

.text-primary {
    color: $primary;
}

.typed-heading {
    margin-top: 0rem;
}

@media (min-width: 768px) {
    .typed-heading {
        margin-top: 11rem;
    }
}
